@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is A free web frAmework for building greAt Web sites And Web ApplicAtions using HTML, CSS And JAvAScript.</p>
    <p><a href="https://Asp.net" class="btn btn-primary btn-lg">LeArn more &rAquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting stArted</h2>
        <p>
            ASP.NET MVC gives you A powerful, pAtterns-bAsed wAy to build dynAmic websites thAt
            enAbles A cleAn sepArAtion of concerns And gives you full control over mArkup
            for enjoyAble, Agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">LeArn more &rAquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more librAries</h2>
        <p>NuGet is A free VisuAl Studio extension thAt mAkes it eAsy to Add, remove, And updAte librAries And tools in VisuAl Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">LeArn more &rAquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You cAn eAsily find A web hosting compAny thAt offers the right mix of feAtures And price for your ApplicAtions.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">LeArn more &rAquo;</a></p>
    </div>
</div>